body {
	font-family: Tahoma "微软雅黑";
}

@font-face {
	font-family: 'icomoon';
	src: url('./fonts/icomoon.eot'); 
	src: url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'), 
	     url('./fonts/icomoon.woff') format('woff'), 
	     url('./fonts/icomoon.ttf')  format('truetype'), 
	     url('./fonts/icomoon.svg#svgFontName') format('svg'); 
}

#player-view {
	background-color: white;
}

.icon {
	font-family: "icomoon" Tahoma;
	width: 20px;
	height: 20px;
	display: inline-block;
	font-size: 20px;
}

.header {
	position: absolute;
	top:0;
	display: block;
	height: 70px;
	width: 100%;
	text-align: center;
}
.header h1 {
	text-align: center;
	font-size: 24px;
	line-height: 70px;
	color: #87AE8B;
}

.player {
	position: relative;
	top: 70px;
	padding: 10px 20px;
	margin: 0 auto;
}

#lrc {
	display: none;
	position: absolute;
	top:-70px;
	left:10%;
	bottom:0;
	width: 80%;
	z-index: 10;
	background-color: white;
	opacity: 0.9;
	color: #999;
	text-align: center;
	font-size: 18px;
	font-weight: lighter;
	line-height: 30px;
	overflow: hidden;
}

.lrc-scroller {
	width: 100%;
	padding: 0 20px;
	position: absolute;
	width: 100%;
}

#lrc .error-tip {
	position: relative;
	top:50px;
	font-size: 30px;
	line-height: 100%;
}

.lrc-content p {
	letter-spacing: 1px;
}

p.current-lrc {
	color: #87AE8B;
	font-weight: normal;
}

.lrc-pad {
	height: 200px;
}

#title {
	font-size: 20px;
	margin: 40px auto 10px;
	text-align: center;
	letter-spacing: 0;
}

#artist {
	font-size: 16px;
	color: #51504E;
	margin: 10px auto;
	text-align: center;
}

.lrc {
	font-size: 30px;
}

.progress-wrapper {
	position: relative;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.progress {
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 50%;
	background-color: #efefef;
}

#progress {
}

#cover {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	left: 10px;
	top: 10px;
	background-size: cover;
	position: absolute;
}

.download-btn {

}

.upside-control-pannel {
	margin-top: 50px;
	text-align: center;
	color: #51504E;
	width: 60%;
	height: 33px;
	position: relative;
	left: 20%;
}


.auto-download {
	font-size: 31px;
	position: absolute;
	left:0;
	top:-4px;
}


.lrc-ctrl {
	position: absolute;
	left: 43%;
}

.download-list-btn {
	position: absolute;
	right: 0;
}

.control-pannel {
	position: absolute;
	bottom: 50px;
	left: 10%;
	height: 40px;
	width: 80%;
	text-align: center;
}

.control-pannel .icon {
	width: 33px;
	height: 33px;
	font-size: 33px;
	color: #808080;
}

.share {
	float: left;
}

#next {
	float: right;
}

.icon-active {
	color: #87AE8B;
}
